# ============================================
# junk files
# ============================================
.idea
.AppleDouble
*/.AppleDouble

# ============================================
# dependencies
# ============================================
node_modules